@import "./scss/variables";
@import "./scss/meyerreset";
@import "./scss/navbar";
@import "./scss/loadingspinner";

//anything below will over-write the css styles imported.
body {
    width: 100vh;
    height: auto;
    background-color: $black;
}

a {
    color: inherit;
    text-decoration: none;
}