@import './scss/variables';
@import './scss/meyerreset';
@import './scss/navbar';
@import './scss/loadingspinner';
@import './scss/signupform';
@import './scss/home/';

//anything below will over-write the css styles imported.
body {
  font-family: Roboto;
  width: auto;
  height: auto;
  background-color: $black;
}

a {
  color: inherit;
  text-decoration: none;
}

.outlet-content {
  margin-top: 6rem;
}
