@import './scss/variables';
@import './scss/meyerreset';
@import './scss/navbar';
@import './scss/loadingspinner';
@import './scss/signupform';
@import './scss/demotimer';
@import './scss/home/';
@import './scss/userprofile';
@import './scss/modal';
@import './scss/studysession';
@import './scss/footer';

//anything below will over-write the css styles imported.
body {
  font-family: Roboto;
  width: auto;
  height: auto;
  background-color: $black;
}

a {
  color: inherit;
  text-decoration: none;
}

.outlet-content {
  margin-top: 6rem;
}
