@import './variables';

.h1-demo-text {
  text-align: center;
}

.timer-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0 2rem 0;
}

.timer-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  border: 1px solid $darkPurple;
  border-radius: 5px;
  padding: 2rem 4rem 2rem 4rem;

  &.break {
    border: 1px solid $darkGreen;
  }
}

.timer-numbers {
  font-size: 4.5rem;
  color: $darkPurple;
  border: 1px solid $darkPurple;
  border-radius: 5px;
  padding: 1rem;

  &.break {
    color: $darkGreen;
    border: 1px solid $darkGreen;
  }
}

.timer-button-box {
  display: flex;
  gap: 0.5rem;
}

.timer-button {
  background-color: $darkPurple;
  color: $white;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  transition: all 300ms;
  cursor: pointer;

  &:hover {
    background-color: $lightPurple;
  }
  &.break {
    background-color: $darkGreen;
    &.break:hover {
      background-color: $lightGreen;
    }
  }
}

.study-status {
  color: $darkPurple;
  &.break {
    color: $darkGreen;
  }
}
