@import './variables';

h1 {
  font-size: 2.5rem;
  color: $white;
}

p {
  font-size: 1.5rem;
  color: $lightGreen;
}

.landing-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}

.landing-box-picture {
  width: 480px;
  height: auto;
}
