@import './variables';

img {
  width: 64px;
  height: auth;
}

.nav-container {
  margin-bottom: 2rem;
  padding: 0 0 0.5rem 0;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  overflow-x: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $white;
  background-color: $black;
  color: $white;
}

.nav-status {
  padding-left: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-item {
  padding-right: 2rem;
  display: flex;
  gap: 1rem;
  color: $lightGreen;
  list-style: none;
  text-decoration: none;

  .nav-item-underline {
    display: inline-block;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 1px;
      bottom: -5px;
      left: 0;
      background-color: $white;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }

    &:hover::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}
