@import './variables';

img {
  width: 64px;
  height: auth;
}

li {
  padding-bottom: 0.25rem;
  border-bottom: 1px transparent;
  transition: all 250ms ease-in-out;
}

li:hover {
  color: $white;
  border-bottom: 1px solid $lightGreen;
}

.nav-container {
  margin-bottom: 2rem;
  padding: 0 0 0.5rem 0;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  overflow-x: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
  color: $white;
}

.nav-status {
  padding-left: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-item {
  padding-right: 2rem;
  display: flex;
  gap: 1rem;
  color: $lightGreen;
  list-style: none;
  text-decoration: none;
}
